<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Found Contacts</title>
    <style>
        body {
            text-align: center
        }
    </style>
</head>
<body>

    <h1>Contacts</h1><br>
    <table style="margin: 0 auto; text-align: center;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number</th>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.id}">Id</td>
            <td th:text="${contact.name != null ? contact.name : 'Unknown'}">Name</td>
            <td th:text="${contact.number}">Number</td>
        </tr>
    </table>
    <form method="get" action="/">
        <input value="Return" type="submit">
    </form>

</body>
</html>